<launch>
  <env name="ROSCONSOLE_CONFIG_FILE" value="$(find dl_imgdb_generator)/config/rosconsole.config"/>
  <rosparam command="load" file="$(find dl_imgdb_generator)/config/params.yaml"/>
  
  <node name="cvt_opendb_to_bbox" pkg="dl_imgdb_generator" type="cvt_opendb2bbox_node" output="screen" />
</launch>